# ========================
# MAVEN / BUILD
# ========================
target/
build/
*.log

# ========================
# MAVEN WRAPPER
# ========================
!.mvn/wrapper/maven-wrapper.jar

# ========================
# JAVA
# ========================
*.class

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.ipr
*.iws
out/

# ========================
# NetBeans
# ========================
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ========================
# Eclipse / STS
# ========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# SECURITY (MUY IMPORTANTE)
# ========================
.env
*.env
application.properties
application.yml
secrets.yml

# ========================
# TEMP FILES
# ========================
*.tmp
*.swp

# Local database credentials
controllocal-db-manager/src/main/resources/db.properties